@model GymDomain.Model.Member

@{
    ViewData["Title"] = "Додати клієнта";
}

<h1 class="mt-3">Додати клієнта</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GymId" class="control-label"></label>
                <select id="GymId" asp-for="GymId" asp-items="ViewBag.GymId" class="form-control"><option value="">Оберіть зал</option></select>
                
            </div>
            
            <div class="form-group">
                <label asp-for="GroupClasses" class="control-label"></label>
                <select id="GroupClasses" asp-for="GroupClasses" class="form-control" name="selectedClassIds" multiple disabled></select>
            </div>
            
            <div class="form-group">
                <label asp-for="SubscriptionId" class="control-label"></label>
                <select asp-for="SubscriptionId" class="form-control" asp-items="ViewBag.SubscriptionId" disabled></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Додати " class="btn btn-primary mt-3" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary mt-3">Назад до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

   
    <script>
        $(document).ready(function () {
            $('#GymId').change(function () {
                console.log('neg');
                var gymId = $(this).val();
                $('#SubscriptionId').empty().attr('disabled', true);

                if (gymId) {
                    $.getJSON('/Members/GetSubscriptionsByGym', { gymId: gymId }, function (classes) {
                        if (classes.length > 0) {

                            $.each(classes, function (i, subscription) {
                                $('#SubscriptionId').append(new Option(subscription.name, subscription.id));
                            });
                            $('#SubscriptionId').removeAttr('disabled');
                        }
                    });
                }
            });

            $('#GymId').change(function () {
                console.log('neg');
                var gymId = $(this).val();
                $('#GroupClasses').empty().attr('disabled', true);

                if (gymId) {
                    // Запрос к серверу за классами этого зала
                    $.getJSON('/Members/GetGroupClassesByGym', { gymId: gymId }, function (classes) {
                        if (classes.length > 0) {

                            $.each(classes, function (i, groupClass) {
                                $('#GroupClasses').append(new Option(groupClass.name, groupClass.id));
                            });
                            $('#GroupClasses').removeAttr('disabled');
                        }
                    });
                }
            });
        });
    </script>

}

